
{{ $site := .Site }}
{{ $content := . }}

<div class="col-md-6">
  <div class="row mb-3">
    <div class="d-flex align-items-center mb-3">
      <div class="pe-3">
        {{ partial "content/image.html" (dict "content" $content "width" 100) }}
      </div>
      <div class="me-auto">
      </div>
    </div>
    <div class="row mb-3 text-start">
      <a href="{{ $content.Permalink }}"><h3>{{ .Title }}</h3></a>
    </div>

    <div class="row mb-3">
      <div class="d-flex flex-row">
        {{ if eq .Type "blog" }}
          {{ partial "content/people.html" (dict "people" .Params.Authors "site" $site "size" 50 )}}
        {{ end }}

        {{ if eq .Type "episode" }}
          {{ partial "content/people.html" (dict "people" .Params.Hosts "site" $site "size" 50 )}}
          {{ partial "content/people.html" (dict "people" .Params.Guests "site" $site "size" 50 )}}
        {{ end }}

        {{ if eq .Type "talk" }}
          {{ partial "content/people.html" (dict "people" .Params.Hosts "site" $site "size" 50 )}}
        {{ end }}
      </div>
    </div>

    <div class="row mb-3 text-start">
      <p>{{ .Params.Description }}</p>
    </div>
    <div class="row mb-3">
      <div class="d-flex">
        {{ partial "content/published.html" . }}
      </div>
    </div>
    {{ with .Params.Series }}
      <div class="row mb-3">
        <div class="d-flex">
            {{ partial "content/series.html" (dict "taxo" "series" "value" . "site" $.Site ) }}
        </div>
      </div>    
    {{ end }}
    {{ with .Params.tags }}
      <div class="row mb-3">
        <div class="align-self-center text-start">
          <div class="d-flex tags">
            {{ partial "content/tags.html" (dict "taxo" "tags" "value" . "site" $.Site ) }}
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</div>