
{{ $site := .Site }}
{{ $scratch := .Scratch }}
{{ $content := . }}

<div class="col-md-6">
  <div class="row mb-3">
    <div class="d-flex align-items-center mb-3">
      <div class="pe-3">
        {{ with .Params.Banner }}     
          {{ $banner := $content.Resources.GetMatch $content.Params.banner }}
          {{ if $banner }}
            <a href="{{ $content.Permalink | relURL}}"><img class="img-fluid" src="{{ $banner.RelPermalink }}" alt="{{ $content.Title }}" title="{{ $content.Title }}" /></a>
          {{ else }}
            <a href="{{ $content.Permalink | relURL}}"><img class="img-fluid" src="{{ $content.Params.Banner | relURL }}" alt="{{ $content.Title }}" title="{{ $content.Title }}" /></a>
          {{ end }}
        {{ else }}
          {{ $image := $content.Resources.GetMatch $content.Params.image }}    
          <div class="text-center"> 
            {{ if $image }}
              <a href="{{ $content.Permalink | relURL}}"><img src="{{ $image.RelPermalink }}" width="100" class="rounded-circle z-depth-2 person-image" alt="{{ $content.Title }}" title="{{ $content.Title }}" /></a>
            {{ else }}
              <a href="{{ $content.Permalink | relURL}}"><img src="{{ $content.Params.Image | relURL }}" width="100" class="rounded-circle z-depth-2 person-image" alt="{{ $content.Title }}" title="{{ $content.Title }}" /></a>
            {{ end }}
          </div>
        {{ end }}
      </div>
      <div class="me-auto">
      </div>
    </div>
    <div class="row mb-3 text-start">
      <a href="{{ .Permalink }}"><h3>{{ .Title }}</h3></a>
    </div>

    {{ if eq .Type "blog" }}
      <div class="row mb-3">
        <div class="d-flex flex-row">
          {{ partial "content/display-people-listing.html" (dict "people" .Params.Authors "site" $site )}}
        </div>
      </div>
    {{ end }}

    {{ if eq .Type "episode" }}
      <div class="row mb-3">
        <div class="d-flex flex-row">
          {{ partial "content/display-people-listing.html" (dict "people" .Params.Hosts "site" $site )}}
          {{ partial "content/display-people-listing.html" (dict "people" .Params.Guests "site" $site )}}
        </div>
      </div>
    {{ end }}

    {{ if eq .Type "talk" }}
      <div class="row mb-3">
        <div class="d-flex flex-row">
          {{ partial "content/display-people-listing.html" (dict "people" .Params.Hosts "site" $site )}}
        </div>
      </div>
    {{ end }}

    <div class="row mb-3 text-start">
      <p>{{ .Params.Description }}</p>
    </div>
    <div class="row mb-3">
      <div class="d-flex">
        {{ partial "content/published.html" . }}
      </div>
    </div>
    {{ with .Params.Series }}
      <div class="row mb-3">
        <div class="d-flex">
            {{ partial "content/series-new.html" (dict "taxo" "series" "value" . "site" $.Site ) }}
        </div>
      </div>    
    {{ end }}
    {{ with .Params.tags }}
      <div class="row mb-3">
        <div class="align-self-center text-start">
          <div class="d-flex tags">
            {{ partial "content/tags-new.html" (dict "taxo" "tags" "value" . "site" $.Site ) }}
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</div>