// Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/functions";


$fa-font-path: "/webfonts";
$breadcrumb-divider: quote(">");

$mainlink-color: {{ .Site.Params.content.theme.mainlinkcolor | default "#0C62A8" }};
$accent-color: {{ .Site.Params.content.theme.accentcolor | default "#157DB9" }};
$footer-color: {{ .Site.Params.content.theme.footercolor | default "#157DB9" }};
$compliment-color: {{ .Site.Params.content.theme.complimentcolor | default "#CFDCE1" }};

$enable-dark-mode: false;

$theme-colors: (
  "primary":    #FFFFFF,
  "secondary":  #FFFFFF,
  "success":    #FFFFFF,
  "info":       #FFFFFF,
  "warning":    #FFFFFF,
  "danger":     #FFFFFF,
  "light":      #FFFFFF,
  "dark":       #FFFFFF
);

$blockquote-border-color: $accent-color;
$blockquote-border-width: 5px;
$blockquote-font-size: 15px;

// Followed by our default variables and maps
@import "bootstrap/variables";
@import "bootstrap/variables-dark";
@import "bootstrap/maps";

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/mixins";
@import "bootstrap/utilities";

// 4. Include any optional Bootstrap components as you like
@import "bootstrap/root";
@import "bootstrap/containers";
@import "bootstrap/grid";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/breadcrumb";
@import "bootstrap/navbar";
@import "bootstrap/carousel";
@import "bootstrap/buttons";
@import "bootstrap/card";
@import "bootstrap/nav";
@import "bootstrap/pagination";
@import "bootstrap/forms";
@import "bootstrap/dropdown";
@import "bootstrap/utilities/api";
@import "bootstrap/helpers";
@import "bootstrap/transitions";

// 5. Add additional custom code here

//@import "bootstrap/bootstrap.scss";

// icons
@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/brands.scss";

@import "styles.scss"
