{{ define "top" }}
  <div class="py-5 container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
      </ol>
    </nav>
    {{- partial "block/random-people.html" . -}}    

    <div class="row text-center">
      {{ .Content }}
    </div> 
  </div>
{{ end }}

{{ define "main" }}
<div class="container" align="center">
  <div class="row g-2">   
    {{ $paginator := .Paginate (where (where $.Site.RegularPages "Section" "episode") ".Params.upcoming" "!=" true) }}

    {{- partial "paginator.html" . -}}
    
    {{ range $index, $value := $paginator.Pages }}
      {{- partial "cards/content-card.html" . -}}
      {{ if not (modBool $index 2 )}}  
        <div class="dropdown-divider"></div>
       {{ else }}
        <div class="dropdown-divider d-block d-sm-block d-md-none"></div>
      {{ end }}
    {{ end }}

    {{- partial "paginator.html" . -}}
  </div>
</div>
{{ end }}

{{ define "bottom" }}
  {{ $upcomingContent := len (where .Pages ".Params.upcoming" true) }}
  {{ if gt $upcomingContent 0 }}
    <section class="py-5 container">
      <div class="row float-center">
        <h2 align="center">Coming Up...</h2>
        {{ range first 3 (where (where $.Site.RegularPages "Section" "episode") ".Params.upcoming" true).ByDate }}         
          {{- partial "block/upcoming-episode.html" . -}}
        {{ end }}
      </div>  
    </section>
  {{ end }}
{{ end }}