{{ define "top" }}
  {{ $site := .Site }}
  {{ $scratch := .Scratch }}
  {{ $title := .Title }}

  <section class="py-5 container" align="center">
    <div class="col">
      <div class="row">
        {{ partial "content/breadcrumbs.html" . }}

        <p>
          {{ partial "content/display-people.html" (dict "people" .Params.hosts "scratch" $scratch "site" $site )}}
          {{ partial "content/display-people.html" (dict "people" .Params.guests "scratch" $scratch "site" $site )}}
        </p>
      </div>

      <div class="row" class="text-center">
        {{ partial "content/socialshare.html" . }}
      </div>
      
      <div class="row">
        <h2>
          {{ if eq .Params.upcoming true }}
            Scheduled for 
          {{ else }}
            Published on 
          {{ end }}
          {{ .PublishDate.Format "Mon, Jan 2, 2006" }}
        </h2>
      </div>
      
      {{ with .Params.tags }}
        <div class="row">
          <p>{{ partial "content/tags.html" (dict "taxo" "tags" "value" . "site" $.Site ) }}</p>
        </div>
      {{ end }}
      
      {{- with .Params.youtube -}}
        <div class="row youtube embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" 
                  src="https://www.youtube.com/embed/{{ . }}" 
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen title="{{ $title }}">
          </iframe>
        </div>
      {{- end -}}
    </div>
  </section>
{{ end }}

{{ define "main" }}
  {{ $params := .Site.Params }}

  <div class="container">
    <p>{{ .Content }}</p>
    <div class="dropdown-divider"></div>
      {{ if eq .Site.Params.audio_player "podscribe" }}
        {{ with .Params.podcast_file }}
          <div id="podscribe-embed-root"></div>
          <script type="application/json" data-cwc-selector="episode-data">
            {
              "epGuid": "{{ $params.media_prefix }}{{ . }}",
            }
          </script>
          <script src="https://app.podscribe.ai/static/js/embed.js" cookie-consent="strictly-necessary"></script>
          <script cookie-consent="tracking" src="{{ "js/embed.js" | absURL }}"></script>
        {{ end }}
      {{ else }}
        {{ with .Params.podcast_file }}
          <div align="center">
            <audio
                controls
                src="{{ $params.media_prefix }}{{ . }}">
                    Your browser does not support the <code>audio</code> element.
                    Here is a <a href="{{ $params.media_prefix }}{{ . }}">link to download the audio</a> instead.
            </audio>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
{{ end }}

{{ define "bottom" }}
  {{ $site := .Site }}
  {{ $page := .Page }}
  {{ $scratch := .Scratch }}

  <div class="py-5 container" align="center">
    <div class="col">
      <div class="row">
        {{ partial "block/comments.html" (dict "site" $site) }}
      </div>
      <div class="row float-center">
        {{ $related := .Site.RegularPages.Related . | first 4 }}
          {{ with $related }}
            <h3>Related</h3>
            <p></p>
            {{ range . }}
              {{- partial "cards/footer-content-card.html" . -}}
            {{ end }}
        {{ end }} 
      </div>
    </div>
  </div>
{{ end }}