{{ define "top" }}
{{ $site := .Site }}
{{ $episode := . }}
  <div class="container mb-3">
    <div class="col">
      <div class="row pt-3 ">
        {{ partial "content/breadcrumbs.html" . }}
      </div>

      {{ with .Params.banner }}
        <div class="row mb-3">
          {{- partial "component/banner.html" $episode -}}
        </div>
      {{ end }}

      {{ if (not (.Params.banner))  }}
      <div class="row mb-3">
        <div class="d-flex">
          <div class="me-auto">
            <h1>{{ .Title }}</h1>
          </div>
          <div>{{ partial "content/socialshare.html" . }}</div>
        </div>
      </div>
      {{ end }}

      <div class="row mb-3">
        <div class="d-flex">
          <div>
            <p>
              {{ partial "content/people.html" (dict "people" .Params.Hosts "site" .Site "size" 50 )}}
              {{ partial "content/people.html" (dict "people" .Params.Guests "site" .Site "size" 50 )}}
            </p>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="d-flex ms-1">
          {{ partial "content/published.html" . }}
        </div>
      </div>
      {{ with .Params.Series }}
        <div class="row mb-3">
          <div class="d-flex ms-1">
              {{ partial "content/series.html" (dict "taxo" "series" "value" . "site" $site ) }}
          </div>
        </div>    
      {{ end }}
      {{ with .Params.tags }}
        <div class="row mb-3">
          <div class="align-self-center">
            <div class="d-flex ms-1 tags">
              {{ partial "content/tags.html" (dict "taxo" "tags" "value" . "site" $site ) }}
            </div>
          </div>
        </div>
      {{ end }}

      <p class="ms-3">{{ .Params.Description | markdownify }}</p>
      
    </div>
  </div>
{{ end }}

{{ define "main" }}

{{ $title := .Title }}
  <div class="container">
    {{- with .Params.youtube -}}
      <div class="row my-3">
        <h2>Watch on YouTube</h2>
      </div>
      <div class="row mb-3">
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/{{ . }}" 
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen title="{{ $title }}">
          </iframe>
        </div>
      </div>
    {{- end -}}
      
    <div class="row mb-3">
      {{ partial "component/audio-player.html" . }}
    </div>
  </div>
{{ end }}

{{ define "bottom" }}
  {{ $site := .Site }}
  {{ $page := .Page }}

  <div class="py-5 container" align="center">
    <div class="col">
      <div class="row">
        {{ partial "component/comments.html" (dict "site" $site) }}
      </div>
      <div class="row float-center">
        {{ $related := .Site.RegularPages.Related . | first 4 }}
          {{ with $related }}
            <h3>Related</h3>
            <p></p>
            {{ range . }}
              {{- partial "cards/content-card.html" . -}}
            {{ end }}
        {{ end }} 
      </div>
    </div>
  </div>
{{ end }}