{{ define "top" }}
  {{ $site := .Site }}
  {{ $scratch := .Scratch }}
  {{ $title := .Title }}
  <section class="py-5 container" align="center">
    <div class="col">
      <div class="row">
        {{ partial "content/breadcrumbs.html" . }}
      </div>
      <div class="row">
        <p>
          {{ partial "content/display-people.html" (dict "people" .Params.hosts "scratch" $scratch "site" $site )}}
        </p>
      </div>
      <div class="row">
        {{ partial "content/socialshare.html" . }}
      </div>      
      <div class="row">
        <h2>{{ if eq .Params.upcoming true }}Scheduled for {{ else }}Occured on {{ end }}{{ .Date.Format "Mon, Jan 2, 2006" }}</h2>
      </div>
      {{ with .Params.tags }}
        <div class="row">
          <p>{{ partial "content/tags.html" (dict "taxo" "tags" "value" . "site" $.Site ) }}</p>
        </div>
      {{ end }}
      {{ with .Params.talkType }}
        <div class="row">
          <p><span class="badge bg-warning text-dark d-inline pull-right">{{ . | humanize }}</span></p>
        </div>
      {{ end }}
      {{- with .Params.youtube -}}
        <div class="row youtube embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" 
                  src="https://www.youtube.com/embed/{{ . }}" 
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen title="{{ $title }}">
          </iframe>
        </div>
      {{- end -}}
    </div>
  </section>
{{ end }}

{{ define "main" }}
  <div class="container">
    <h5>{{ .Title }} at {{ .Params.eventName }}</h5>
    <p>{{ .Content }}</p>
    {{ with .Params.externalLink }}
      <p>Find out more at <a href="{{ . }}">{{ . }}</a></p>
    {{ end }}
  </div>
{{ end }}