{{ define "top" }}
  {{ $site := .Site }}
  {{ $page := .Page }}

  {{ $blog := . }}

  <div class="container mb-3">
    <div class="col">
      <div class="row pt-3 ">
        {{ partial "content/breadcrumbs.html" . }}
      </div>

      {{ with .Params.banner }}
        <div class="row mb-3">
          {{- partial "content/banner.html" $blog -}}
        </div>
      {{ end }}

      {{ if (not (.Params.banner))  }}
      <div class="row mb-3">
        <div class="d-flex">
          <div class="me-auto">
            <h1>{{ .Title }}</h1>
          </div>
          <div>{{ partial "content/socialshare.html" . }}</div>
        </div>
      </div>
      {{ end }}

      <div class="row mb-3">
        <div class="d-flex">
          <div>
            <p>
              {{ partial "content/display-people-small.html" (dict "people" .Params.Authors "site" $site )}}
            </p>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="d-flex ms-1">
          {{ partial "content/published.html" . }}
        </div>
      </div>
      {{ with .Params.Series }}
        <div class="row mb-3">
          <div class="d-flex ms-1">
              {{ partial "content/series-new.html" (dict "taxo" "series" "value" . "site" $.Site ) }}
          </div>
        </div>    
      {{ end }}
      {{ with .Params.tags }}
        <div class="row mb-3">
          <div class="align-self-center">
            <div class="d-flex ms-1 tags">
              {{ partial "content/tags-new.html" (dict "taxo" "tags" "value" . "site" $.Site ) }}
            </div>
          </div>
        </div>
      {{ end }}

      <p class="ms-1">{{ .Params.Description | markdownify }}</p>
      
    </div>
  </div>
{{ end }}

{{ define "main" }}
  {{ $site := .Site }}
  {{ $page := .Page }}

  <div class="container">
    {{ if ge (len .TableOfContents) 50 }}
      <h2>Contents</h2>
      <p>{{ .TableOfContents }}</p>
    {{ end }}

    <p>{{ .Content }}</p>
    <p></p>
  </div>
  <div class="container" align="center">
    <div class="row float-center">
      {{ partial "content/series-selector.html" (dict "site" $.Site "page" $page ) }}
    </div>
  </div>
  {{ if isset .Params "series" }}<p></p>{{ end }}
{{ end }}

{{ define "bottom" }}
  {{ $site := .Site }}
  {{ $page := .Page }}

  <div class="py-5 container" align="center">
    <div class="col">
      <div class="row">
        {{ partial "block/comments.html" (dict "site" $site) }}
      </div>
      <div class="row float-center">
        {{ $related := .Site.RegularPages.Related . | first 4 }}
        {{ with $related }}
          <h3>Related</h3>
          <p></p>
          {{ range . }}
            {{- partial "cards/footer-content-card.html" . -}}
          {{ end }}
        {{ end }}      
      </div>
    </div>
  </div>
{{ end }}