{{ define "top" }}
{{ $site := .Site }}
{{ $episode := . }}
  <div class="container mb-3">
    <div class="col">
      <div class="row pt-3 ">
        {{ partial "content/breadcrumbs.html" . }}
      </div>

      {{ with .Params.banner }}
        <div class="row mb-3">
          {{- partial "content/banner.html" $episode -}}
        </div>
      {{ end }}

      {{ if (not (.Params.banner))  }}
      <div class="row mb-3">
        <div class="d-flex">
          <div class="me-auto">
            <h1>{{ .Title }}</h1>
          </div>
          <div>{{ partial "content/socialshare.html" . }}</div>
        </div>
      </div>
      {{ end }}

      <p>{{ .Content }}</p>
    </div>
  </div>
{{ end }}

{{ define "main" }}
  {{ $type := .Type }}
  <div class="container">
    <div class="row g-2">
      {{ $tags := .Site.Taxonomies.tags }}
      {{ range $key, $value := .Data.Terms.Alphabetical }}
        {{ $page := $.Site.GetPage (printf "/%s/%s" $type .Name) }}
          <div class="row mt-4">
            <div class="col-md-3">
              <a href="{{ $page.Permalink }}">
                <img src="{{ $page.Params.image | relURL }}" class="rounded-circle z-depth-2 align-middle" width="100" title="{{ $page.Title }}" alt="{{ $page.Title }}" />
              </a>
            </div>
            <div class="col-md-9">
              <h2>
                <a href="{{ $page.Permalink }}">{{ $page.Title }} <small>({{.Count}})</small></a>
              </h2>
              <p>
                {{ $page.Description }}
              </p>
            </div>
          </div>
      {{ end }}
    </div>
  </div>
{{ end }}