<h2>Listen to the Audio</h2>
{{ $params := .Site.Params }}

{{ if eq .Site.Params.features.audio_player.use "podscribe" }}
  {{ with .Params.podcast_file }}
    <div id="podscribe-embed-root"></div>
    <script type="application/json" data-cwc-selector="episode-data">
      {
        "epGuid": "{{ $params.content.site.media_prefix }}{{ . }}",
      }
    </script>
    <script src="https://app.podscribe.ai/static/js/embed.js" cookie-consent="strictly-necessary"></script>
  {{ end }}
{{ else }}
  {{ with .Params.podcast_file }}
    <div align="center">
      <audio
          controls
          src="{{ $params.content.site.media_prefix }}{{ . }}">
              Your browser does not support the <code>audio</code> element.
              Here is a <a href="{{ $params.content.site.media_prefix }}{{ . }}">link to download the audio</a> instead.
      </audio>
    </div>
  {{ end }}
{{ end }}