{{ with .Params.podcast_file }}
<h2>Listen to the Audio</h2>
{{ end }}
{{ $params := .Site.Params }}

{{ if eq .Site.Params.features.audio_player.use "podscribe" }}
  {{ with .Params.podcast_file }}
    <div id="podscribe-embed-root"></div>
    <script type="application/json" data-cwc-selector="episode-data">
      {
        "epGuid": "{{ $params.content.site.media_prefix }}{{ . }}",
      }
    </script>
    {{ $podscribe := resources.Get "./js/embed.js" }}
    {{ $podscribeJs := slice $podscribe | resources.Concat "js/podscribe-bundle.js" | resources.Minify | fingerprint }}

    <script type="text/plain" async src="{{ $podscribeJs.RelPermalink }}" cookie-consent="strictly-necessary" defer></script>
  {{ end }}
{{ else }}
  {{ with .Params.podcast_file }}
    <div align="center">
      <audio
          controls
          src="{{ $params.content.site.media_prefix }}{{ . }}">
              Your browser does not support the <code>audio</code> element.
              Here is a <a href="{{ $params.content.site.media_prefix }}{{ . }}">link to download the audio</a> instead.
      </audio>
    </div>
  {{ end }}
{{ end }}