
{{ $site := .site }}
{{ $content:= .content }}
{{ $count := .count }}

<div class="col-lg-{{ div 12 $count }} col-sm-12">
  <div class="flex row mb-3">
    <div class="pe-3">  
      {{ partial "content/image.html" (dict "content" $content "width" 100) }}
    </div>
    <div class="me-auto">
    </div>
  </div>
  <div class="row mb-3 text-start">
    <a href="{{ $content.Permalink }}"><h3>{{ $content.Title }}</h3></a>
  </div>
  {{ if eq $content.Type "blog" }}
      <div class="row mb-3">
        <div class="d-flex flex-row">
          {{ partial "content/people.html" (dict "people" $content.Params.Authors "site" $site "size" 50 )}}
        </div>
      </div>
    {{ end }}

    {{ if eq $content.Type "episode" }}
      <div class="row mb-3">
        <div class="d-flex flex-row">
          {{ partial "content/people.html" (dict "people" $content.Params.Hosts "site" $site "size" 50 )}}
          {{ partial "content/people.html" (dict "people" $content.Params.Guests "site" $site "size" 50 )}}
        </div>
      </div>
    {{ end }}

    {{ if eq $content.Type "talk" }}
      <div class="row mb-3">
        <div class="d-flex flex-row">
          {{ partial "content/people.html" (dict "people" $content.Params.Hosts "site" $site "size" 50 )}}
        </div>
      </div>
    {{ end }}

    <div class="row mb-3 text-start">
      <p>{{ $content.Params.Description }}</p>
    </div>
    <div class="row mb-3">
      <div class="d-flex">
        {{ partial "content/published.html" $content }}
      </div>
    </div>
</div>