{{ $site := .site }}
<script
  src="https://giscus.app/client.js"
  data-repo="{{ $site.Params.giscus.repository }}"
  data-repo-id="{{ $site.Params.giscus.repository_id }}"
  data-category="{{ $site.Params.giscus.category }}"
  data-category-id="{{ $site.Params.giscus.category_id }}"
  data-mapping="{{ $site.Params.giscus.mapping }}"
  data-reactions-enabled="{{ $site.Params.giscus.reactions_enabled }}"
  data-emit-metadata="{{ $site.Params.giscus.emit_metadata }}"
  data-theme="{{ $site.Params.giscus.theme }}"
  crossorigin="anonymous"
  async
  cookie-consent="functionality">
</script>