{{ $groups := first 1 (where (where $.Site.RegularPages "Section" "episode") ".Params.upcoming" "!=" true) }}
{{ $site := .Site }}
{{ $scratch := .Scratch }}

{{ with $groups }}
  {{ range . }}

    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>

    {{ with .Params.Authors }}
      {{ partial "content/display-people-small.html" (dict "people" . "site" $site )}}
    {{ end }}

    {{ with .Params.hosts }}
      {{ partial "content/display-people-small.html" (dict "people" . "site" $site )}}
    {{ end }}

    {{ with .Params.guests }}
      {{ partial "content/display-people-small.html" (dict "people" . "site" $site )}}
    {{ end }}

    <h2>Published on {{ .PublishDate.Format "Mon, Jan 2, 2006" }}</h2>
    
    {{ with .Params.tags }}
      <p>{{ partial "content/tags.html" (dict "taxo" "tags" "value" . "site" $site ) }}</p>
    {{ end }}

    {{ if .Params.Youtube }}
    <div class="row youtube embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ .Params.YouTube }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="Video of {{ .Title }}" allowfullscreen></iframe>
    </div>
    {{ end }}

    <p>{{ .Content }}</p>

  {{ end }}
{{ end }}