{{ $value := .value }}
{{ $count := .count }}
{{ $site := .site }}
{{ $scratch := .Scratch }}

<div class="col-12 col-xl-{{ div 12 $count }}">    
  <div class="container">
    <div class="row g-0">
      <div class="col-12 col-sm-3 col-md-2 col-xl-4 text-center">
        {{ partial "content/content-image.html" $value }}
      </div>
      <div class="col-12 col-sm-9 col-md-10 col-xl-8">
        <div class="card-body episode-card">         
        
          <a href="{{ $value.Permalink }}"><h2 class="card-title">{{ $value.Title }}</h3></a>
        {{ with $value.Params.eventName }}<h3>{{ . }}</h3>{{ end }}
        <p class="card-text">{{ $value.Content | truncate 300}}</p>
        
        {{ with $value.Params.tags }}
          <p>{{ partial "content/tags.html" (dict "taxo" "tags" "value" . "site" $site ) }}</p>
        {{ end }}
        {{ with $value.Params.Series }}
          <p>
            <p>{{ partial "content/series.html" (dict "taxo" "series" "value" . "site" $site ) }}</p>
          </p>
        {{ end }}
        <p class="card-text">
          {{ with $value.Params.Authors }}
            {{ partial "content/display-people-small.html" (dict "people" . "site" $site )}}
          {{ end }}

          <small class="text-muted">{{ if eq $value.Params.upcoming true }}Scheduled {{ else }}Published on {{ end }}{{ $value.Date.Format "Mon, Jan 2, 2006" }}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>