
{{ $site := .site }}
{{ $content:= .content }}
{{ $count := .count }}

<div class="col-lg-{{ div 12 $count }} col-sm-12">
  <div class="flex row mb-3">
    <div class="pe-3">  
      {{ with $content.Params.Banner }}     
        {{ $banner := $content.Resources.GetMatch $content.Params.banner }}
        {{ if $banner }}
          <a href="{{ $content.Permalink | relURL}}"><img class="img-fluid" src="{{ $banner.RelPermalink }}" alt="{{ $content.Title }}" title="{{ $content.Title }}" /></a>
        {{ else }}
          <a href="{{ $content.Permalink | relURL}}"><img class="img-fluid" src="{{ $content.Params.Banner | relURL }}" alt="{{ $content.Title }}" title="{{ $content.Title }}" /></a>
        {{ end }}
      {{ else }}
        {{ $image := $content.Resources.GetMatch $content.Params.image }}    
        <div class="text-center"> 
          {{ if $image }}
            <a href="{{ $content.Permalink | relURL}}"><img src="{{ $image.RelPermalink }}" width="100" class="rounded-circle z-depth-2 person-image" alt="{{ $content.Title }}" title="{{ $content.Title }}" /></a>
          {{ else }}
            <a href="{{ $content.Permalink | relURL}}"><img src="{{ $content.Params.Image | relURL }}" width="100" class="rounded-circle z-depth-2 person-image" alt="{{ $content.Title }}" title="{{ $content.Title }}" /></a>
          {{ end }}
        </div>
      {{ end }}
      
    </div>
    <div class="me-auto">
    </div>
  </div>
  <div class="row mb-3 text-start">
    <a href="{{ .Permalink }}"><h3>{{ $content.Title }}</h3></a>
  </div>
  {{ if eq $content.Type "blog" }}
      <div class="row mb-3">
        <div class="d-flex flex-row">
          {{ partial "content/display-people-listing.html" (dict "people" $content.Params.Authors "site" $site )}}
        </div>
      </div>
    {{ end }}

    {{ if eq $content.Type "episode" }}
      <div class="row mb-3">
        <div class="d-flex flex-row">
          {{ partial "content/display-people-listing.html" (dict "people" $content.Params.Hosts "site" $site )}}
          {{ partial "content/display-people-listing.html" (dict "people" $content.Params.Guests "site" $site )}}
        </div>
      </div>
    {{ end }}

    {{ if eq $content.Type "talk" }}
      <div class="row mb-3">
        <div class="d-flex flex-row">
          {{ partial "content/display-people-listing.html" (dict "people" $content.Params.Hosts "site" $site )}}
        </div>
      </div>
    {{ end }}

    <div class="row mb-3 text-start">
      <p>{{ $content.Params.Description }}</p>
    </div>
    <div class="row mb-3">
      <div class="d-flex">
        {{ partial "content/published.html" $content }}
      </div>
    </div>
</div>