{{ define "top" }}
<section class="py-5 container">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ (.Section | urlize) | absLangURL }}">{{ with .Site.GetPage (printf "/%s" .Section) }}{{ .Title }}{{ end }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
      </ol>
    </nav>
  </div>
</section>
{{ end }}
{{ define "main" }}
<div class="container" align="center">
  <div class="row g-2">   
    {{ $paginator := .Paginate (where .Data.Pages ".Params.upcoming" "!=" true) }}
    {{- partial "paginator.html" . -}}
    
    {{ range $paginator.Pages }}
      {{- partial "cards/content-card.html" . -}}
    {{ end }}

    {{- partial "paginator.html" . -}}
  </div>
</div>
{{ end }}