{{ define "top" }}
<section class="py-5 container">
  <div class="col">
    <div class="row">
      {{ partial "content/breadcrumbs.html" . }}
    </div>
  </div>
</section>
{{ end }}

{{ define "main" }}
<div class="container" align="center">
  <div class="col">
    <div class="row g-2">   
      {{ $paginator := .Paginate (where .Data.Pages ".Params.upcoming" "!=" true) }}
      {{- partial "paginator.html" . -}}
      
      {{ range $paginator.Pages }}
        {{- partial "cards/content-card.html" . -}}
      {{ end }}

      {{- partial "paginator.html" . -}}
    </div>
  </div>
</div>
{{ end }}