{{ define "top" }}
{{ $site := .Site }}
{{ $content := . }}
  <div class="container mb-3">
    <div class="col">
      <div class="row pt-3 ">
        {{ partial "content/breadcrumbs.html" . }}
      </div>

      {{ with .Params.banner }}
        <div class="row mb-3">
          {{- partial "component/banner.html" $content -}}
        </div>
      {{ end }}

      {{ if (not (.Params.banner))  }}
        <div class="row mb-3">
          <div class="d-flex align-items-center">
            <div class="me-auto">
              <h1><i class="fa-solid fa-tag"></i> {{ .Title }}</h1>
            </div>
            {{ with .Params.image }}
              <div class="pe-3">   
                {{ $image := $content.Resources.GetMatch . }}         
                {{ if $image }}
                  <a href="{{ .Permalink | relURL}}"><img src="{{ $image.RelPermalink }}" width="100" class="rounded-circle z-depth-2 person-image" alt="{{ .Title }}" title="{{ .Title }}" /></a>
                {{ else }}
                  <a href="{{ .Permalink | relURL}}"><img src="{{ .Params.Image | relURL }}" width="100" class="rounded-circle z-depth-2 person-image" alt="{{ .Title }}" title="{{ .Title }}" /></a>
                {{ end }}
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
    <div class="row mb-3">
      <p>{{ .Content }}</p>
    </div>
  </div>
{{ end }}
{{ define "main" }}
<div class="container" align="center">
  <div class="col">
    <div class="row g-2">   
      {{ $paginator := .Paginate (where .Data.Pages ".Params.upcoming" "!=" true) }}
      {{- partial "paginator.html" . -}}
      
      {{ range $paginator.Pages }}
        {{- partial "cards/content-card.html" (dict "content" .) -}}
      {{ end }}

      {{- partial "paginator.html" . -}}
    </div>
  </div>
</div>
{{ end }}