{{ $site := .Site }}

<footer class="mt-auto">
  <div class="container">
    <div class="row justify-content-center">
      <nav id="nav-footer" class="navbar navbar-expand navbar-dark bg-cwc justify-content-center">
        <ul id="nav-footer-links" class="nav navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="#" id="changePreferences">Cookie Preferences</a>
          </li>
          {{ $currentPage := . }}
            {{ range .Site.Menus.footer }}
              {{ partial "nav-links.html" (dict "context" . "currentPage" $currentPage) }}
            {{ end }}      
        </ul>    
      </nav>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <ul id="nav-footer-socials" class="icons nav justify-content-center">
          {{ with .Site.Params.content.social.YouTube }}
            <li class="nav-item">            
              <a class="nav-link" href="https://www.youtube.com/c/{{ . }}"><button type="button" aria-label="YouTube" class="btn btn-social btn-youtube btn-rounded"><i class="fab fa-youtube"></i></button></a>
            </li>
          {{ end }}
          {{ with .Site.Params.content.social.Twitter }}
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/{{ . }}" aria-label="Twitter"><button aria-label="Twitter" type="button" class="btn btn-social btn-twitter btn-rounded"><i class="fab fa-twitter"></i></button></a>
            </li>
          {{ end }}
          {{ with .Site.Params.content.social.Facebook }}
            <li class="nav-item">
              
              <a class="nav-link" href="https://facebook.com/{{ . }}" aria-label="Twitter"><button aria-label="Twitter" type="button" class="btn btn-social btn-facebook btn-rounded"><i class="fab fa-facebook"></i></button></a>
            </li>  
          {{ end }}        
          {{ with .Site.Params.content.social.GitHub }}
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/{{ . }}" aria-label="GitHub"><button type="button" aria-label="GitHub" class="btn btn-social btn-github btn-rounded"><i class="fab fa-github"></i></button></a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <div class="row justify-content-center text-white text-wrap">
          <p>&copy; {{ .Site.Params.content.site.copyright.established | markdownify }} - {{ dateFormat "2006" now }} {{ .Site.Params.content.site.copyright.notice | markdownify }}</p>
        </div>
        <div class="row justify-content-center text-white text-wrap">
          <p>{{ .Site.Params.content.site.copyright.additional_information | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- JavaScript and dependencies -->

<!-- Bootstrap Dependencies -->
{{ $scripts := .Site.Data.bootstrapdeps  }} 
  {{ $.Scratch.Set "bootstrapDeps" slice }}
  {{ range $scripts.scripts }}    
    {{ $.Scratch.Add "bootstrapDeps" (resources.Get . ) }}
  {{ end }}

{{ $bootstrapJs := .Scratch.Get "bootstrapDeps" | resources.Concat "js/bootstrap.js" | resources.Minify | fingerprint }}
<script src="{{ $bootstrapJs.Permalink }}"  cookie-consent="strictly-necessary" defer></script>

{{ $consent := resources.Get "./js/cookie-consent.js" }}
{{ $consentJs := slice $consent | resources.Concat "js/consent-bundle.js" | resources.Minify | fingerprint }}
<script src="{{$consentJs.RelPermalink}}" cookie-consent="strictly-necessary" defer></script>
  
<script type="text/javascript" charset="UTF-8">
document.addEventListener('DOMContentLoaded', function () {
cookieconsent.run({"notice_banner_type":"interstitial","consent_type":"express","palette":"light","language":"en","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false,"website_name":"{{ .Site.Title }}","open_preferences_center_selector":"#changePreferences","website_privacy_policy_url":"{{ .Site.BaseURL }}/privacy-policy"});
});
</script>

{{ if not .Site.IsServer }}
  {{ with .Site.Params.features.analytics.microsoftClarity }}
  <script type="text/plain" cookie-consent="tracking">
    (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
  })(window, document, "clarity", "script", "{{ . }}");
  </script>
  {{ end }}

  <!-- google analytics -->
  {{- $pc := .Site.Config.Privacy.GoogleAnalytics -}}
  {{- if not $pc.Disable -}}
    {{ with .Site.Params.features.analytics.googleUniversalAnalytics }}
      <script type="text/plain" cookie-consent="tracking">
      {{ template "__ga_js_set_doNotTrack" $ }}
      if (!doNotTrack) {
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        {{- if $pc.UseSessionStorage }}
        if (window.sessionStorage) {
          var GA_SESSION_STORAGE_KEY = 'ga:clientId';
          ga('create', '{{ . }}', {
            'storage': 'none',
            'clientId': sessionStorage.getItem(GA_SESSION_STORAGE_KEY)
          });
          ga(function(tracker) {
            sessionStorage.setItem(GA_SESSION_STORAGE_KEY, tracker.get('clientId'));
          });
        }
        {{ else }}
        ga('create', '{{ . }}', 'auto');
        {{ end -}}
        {{ if $pc.AnonymizeIP }}ga('set', 'anonymizeIp', true);{{ end }}
        ga('send', 'pageview');
      }
      </script>

      {{ $analytics := resources.Get "./js/analytics.js" }}
      {{ $analyticsJs := slice $analytics | resources.Concat "js/analytics-bundle.js" | resources.Minify | fingerprint }}

      <script type="text/plain" async src="{{ $analyticsJs.RelPermalink }}" cookie-consent="tracking" defer></script>
    {{ end }}

    {{ with .Site.Params.features.analytics.googleUniversal }}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}" type="text/plain" cookie-consent="tracking"></script>
      <script type="text/plain" cookie-consent="tracking">
        {{ template "__ga_js_set_doNotTrack" $ }}
        if (!doNotTrack) {
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '{{ . }}'), { 'anonymize_ip': {{- $pc.AnonymizeIP -}} });
        }
      }

      {{- define "__ga_js_set_doNotTrack" -}}{{/* This is also used in the async version. */}}
      {{- $pc := $site.Config.Privacy.GoogleAnalytics -}}
      {{- if not $pc.RespectDoNotTrack -}}
      var doNotTrack = false;
      {{- else -}}
      var dnt = (navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack);
      var doNotTrack = (dnt == "1" || dnt == "yes");
      {{- end -}}
      {{- end -}}
      </script>
    {{ end }}
  {{- end -}}
{{ end }}
  <!-- end of Google Analytics-->

<script type="text/plain" cookie-consent="functionality">
if('serviceWorker' in navigator) {
  navigator.serviceWorker
    .register('/sw.js', { scope: '/' })
    .then(function(registration) {
      //console.log('Service Worker Registered');
    });

  navigator.serviceWorker
    .ready
    .then(function(registration) {
      //console.log('Service Worker Ready');
    });
}
</script>

<noscript>Cookie Consent by <a href="https://www.PrivacyPolicies.com/cookie-consent/" rel="nofollow noopener">PrivacyPolicies.com</a></noscript>
<!-- End Cookie Consent -->