<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "url": {{- .Site.Home.Permalink -}},
    "logo": {{ partial "metadata/image-ld.html" . }}
  }
</script>

<script defer type="application/ld+json">
  { 
    "@context": "http://schema.org", 
    "@type": "WebSite", 
    "url": {{ .Site.Home.Permalink }}, 
    "sameAs": [
      {{ printf "%s%s" "https://twitter.com/" .Site.Params.content.social.twitter | absURL }}, 
      {{ printf "%s%s" "https://github.com/" .Site.Params.content.social.github | absURL }}
    ], 
    "name": {{ .Title }}, 
    "logo": {{ "/favicon.ico" | absURL }},
    "potentialAction": {
      "@type": "SearchAction",
      "target": {
        "@type": "EntryPoint",
        "urlTemplate": {{ printf "%s%s" .Site.BaseURL "search?q={search_term_string}" | absURL }}
      },
      "query-input": "required name=search_term_string"
    }
  }
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "{{ .Site.Title }}",
      "item": {{ .Site.BaseURL }}
    }
    {{ if and (or .IsNode .IsPage) (not .IsHome)}}
    ,{
      "@type": "ListItem",
      "position": 2,
      "name": 
        {{- if or (and .Parent .Parent.IsHome) .IsNode -}}
          {{- .Title -}}
        {{- else -}}
          {{- .Parent.Title -}}
        {{ end }},
      {{ if and (not (and .Parent .Parent.IsHome)) .IsPage }}
        "item": {{ .Parent.Permalink }}
      {{ end }}
    }
    {{ end }}
    {{ if .Parent }}
      {{ if and (not .Parent.IsHome) .IsPage }}
      ,{
        "@type": "ListItem",
        "position": 3,
        "name": "{{ .Title }}"
      }
      {{ end }}
    {{ end }}
    ]
  }
</script>