{{ $content := . }}
{{ $site := .Site }}
<script defer type="application/ld+json" id="meta-blog">
  { 
    "@context": "http://schema.org", 
    "@type": "BlogPosting",
    "name": {{ .Title }},
    "description": {{ .Params.Description | plainify }},
    "mainEntityOfPage": {{ .Permalink }},
    "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
    "headline": {{ .Title }},
    "author": [
      {{- range .Params.Authors -}}
        {{- $person := $site.GetPage (printf "/person/%s" .) -}}
        {
          "@type": "Person",
          "name": "{{ $person.Title }}",
          "image": {{ partial "metadata/image-ld.html" $person }},
          "url": {{ $person.Permalink }}
        },
      {{- end -}} 
    ],
    "datePublished": "{{ .Date.Format "2006-01-02" }}",
    "wordCount": {{ .WordCount }},
    "image": [
        {{ partial "metadata/image-ld.html" . }}
      ],
    "url": {{ .Permalink  }},
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}",
      "logo": {
        "@type": "imageObject",
        "url": {{ "/favicon.ico" | absURL }}
      }
    },    
    {{ with .Params.Tags }}
      "keywords": {{ delimit . ", " }}
    {{ end }}
  }
</script>