{{- $content := . -}}
{{- with .Params.Banner -}}
  {{- $banner := $content.Resources.GetMatch . -}}
  {{- if $banner -}}
    {{- $banner.Permalink -}}
  {{- else -}}
    {{- $banner := resources.GetMatch ($content.Params.Banner | absURL) -}}
    {{- $banner.Permalink -}}
  {{- end -}}
{{- else -}}
  {{- if .Params.Image -}}
    {{- $image := $content.Resources.GetMatch $content.Params.Image -}}
    {{- if $image -}}
      {{-  $image.Permalink -}}
    {{- else -}}
      {{- (resources.GetMatch $content.Site.Params.content.site.ogimage).Permalink -}}
    {{- end -}}
  {{- else -}}
    {{- (resources.GetMatch $content.Site.Params.content.site.ogimage).Permalink -}}
  {{- end -}}
{{- end -}}