{{ $content := .content }}
{{ $paginator := .paginator }}

{{ if $paginator }}
  <link rel="first" href="{{ $paginator.First.URL }}">
  <link rel="last" href="{{ $paginator.Last.URL }}">
  {{ if $paginator.HasPrev }}
    <link rel="prev" href="{{ $paginator.Prev.URL }}">
  {{ end }}
  {{ if $paginator.HasNext }}
    <link rel="next" href="{{ $paginator.Next.URL }}">
  {{ end }}

  {{ if eq $paginator.PageNumber 1 }}
    <link rel="canonical" href="{{ .content.Permalink }}" />
  {{ else }}
    <link rel="canonical" href="{{ .content.Permalink }}page/{{ $paginator.PageNumber }}/" />
  {{ end }}
{{ else }}
  <link rel="canonical" href="{{ .content.Permalink }}" />
{{ end }}