{{- $site := .Site -}}
{{ $content := . }}

{{ $speakerLen := 0 }}
{{ with $content.Params.Speakers }}
  {{ $speakerLen = len . }}
{{ end }}
<script defer type="application/ld+json" id="meta-talk">
{ 
  "@context": "http://schema.org", 
  "@type": "Event",
  "name": {{- .Title -}},
  "description": {{- .Params.Description | plainify -}},
  "eventStatus": "https://schema.org/EventScheduled",
  "eventAttendanceMode":   
  {{ if.Params.event }}
    {{- if eq (lower .Params.event.attendanceType) "hybrid" -}}
      "https://schema.org/MixedEventAttendanceMode",
    {{- else if eq (lower .Params.event.attendanceType) "virtual" -}}
    "https://schema.org/OnlineEventAttendanceMode",
    {{- else if eq (lower .Params.event.attendanceType) "physical" -}}
    "https://schema.org/OfflineEventAttendanceMode",
    {{- else -}}
    "https://schema.org/OnlineEventAttendanceMode",
    {{- end -}}
  {{ else }}
    "https://schema.org/OnlineEventAttendanceMode",
  {{ end }}
  "performer": [
    {{- range $index, $value := .Params.speakers -}}
      {{- $person := $site.GetPage (printf "/person/%s" .) -}}
      {
        "@type": "Person",
        "name": "{{- $person.Title -}}",
        "image": {{- partial "metadata/image-ld.html" $person -}},
        "url": {{- $person.Permalink -}}
      }{{- if ne (add $index 1) $speakerLen -}},{{- end -}}
    {{- end -}}
  ],
  {{ if and (isset .Params.event "organizername") }}
  "organizer": {
    "@type": "Organization",
    "name": "{{- .Params.event.organizerName -}}",
    {{ with .Params.event.organizerUrl }}
      "url": {{- . -}}
    {{ else }}
      {{ with .Params.event.eventUrl }}
        "url": {{- . -}}
      {{ else }}
        "url": {{- .Permalink -}}
      {{ end }}
    {{ end }}
  },
  {{ end }}
  "image": {{- partial "metadata/image-ld.html" . -}},
  "offers": {
    "@type": "Offer",
    "validFrom": "{{- .PublishDate.Format "2006-01-02" -}}",
    "url": {{- .Permalink  -}},
    {{ if .Date.Before now }} 
      "availability": "https://schema.org/SoldOut",
    {{ else }}
      {{ if and (isset .Params.event "available") (not .Params.Event.available) }}
        "availability": "https://schema.org/SoldOut",
      {{ else }}
        "availability": "https://schema.org/InStock",
      {{ end }}
    {{ end }}
    {{ if and .Params.event.cost .Params.event.costCurrency }}
    "price": "{{- .Params.event.cost -}}",
    "priceCurrency": "{{- .Params.event.costCurrency -}}"
    {{ else }}
    "price": "0.00",
    "priceCurrency": "GBP"
    {{ end }}
  },
  {{ if eq (lower .Params.event.attendanceType) "hybrid" }}
  "location": [
    {
      "@type": "VirtualLocation",
      "url": {{- .Params.event.eventUrl -}}
    },
    {
      "@type": "text",
      "text": {{- .Params.event.location -}}
    }
  ],
  {{ else if eq (lower .Params.event.attendanceType) "physical" }}
  "location": 
  {
    "@type": "text",
    "text": {{- .Params.event.location -}}
  },
  {{ else }}
  "location": {
    "@type": "VirtualLocation",
    "url": {{- .Params.event.eventUrl -}}
  },
  {{ end }}
  "url": {{- .Permalink  -}},
  {{ if or (isset .Params.event "eventurl") (isset .Params.event "organizerurl") }}
  "sameAs": [
    {{ if .Params.event.eventUrl -}}
      {{- .Params.event.eventUrl  -}}
    {{ else }}
      {{- .Params.event.organizerUrl  -}}
    {{ end }}
  ],
  {{ end }}
  "startDate": "{{- .Date.Format "2006-01-02" -}}",
  "endDate": "{{- .Date.Format "2006-01-02" -}}",
  {{ with .Params.Tags }}
    "keywords": "{{- delimit . ", " -}}"
  {{ end }}
}
</script>