{{ $content := . }}
{{ $banner := .Resources.GetMatch $content.Params.banner }}

{{ if $banner }}
  {{ $tiny := ($banner.Resize "480x webp") }}
  {{ $small := ($banner.Resize "768x webp") }}
  {{ $medium := ($banner.Resize "1024x webp") }}
  {{ $large := ($banner.Resize "1366x webp") }}
  <a href="{{ $content.Permalink | relURL }}">
    <img class="img-fluid"
          srcset="
              {{- with $tiny.RelPermalink -}}{{.}} 480w{{- end -}}
              {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
              {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
              {{- with $large.RelPermalink -}}, {{.}} 1366w{{- end -}}" 
          src="{{ $banner.RelPermalink }}" 
          sizes="(max-width: 600px) 500px,
                 (max-width: 800px) 500px,
                 (max-width: 1050px) 500px,
                 1024px"
          alt="{{ $content.Title }}" 
          title="{{ $content.Title }}" />
  </a>
{{ else }}
  {{ $banner := resources.GetMatch ($content.Params.Banner | relURL) }}
  {{ $tiny := ($banner.Resize "480x webp") }}
  {{ $small := ($banner.Resize "768x webp") }}
  {{ $medium := ($banner.Resize "1024x webp") }}
  {{ $large := ($banner.Resize "1366x webp") }}
  <a href="{{ $content.Permalink | relURL }}">
    <img class="img-fluid"
          srcset="
              {{- with $tiny.RelPermalink -}}{{.}} 480w{{- end -}}
              {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
              {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
              {{- with $large.RelPermalink -}}, {{.}} 1366w{{- end -}}" 
          src="{{ $banner.RelPermalink }}" 
          sizes="(max-width: 600px) 500px,
                 (max-width: 800px) 500px,
                 (max-width: 1050px) 500px,
                 1024px"
          alt="{{ $content.Title }}" 
          title="{{ $content.Title }}" />
  </a>
{{ end }}