<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {{ template "breadcrumb" dict "currentPage" .Page "id" .File.UniqueID }}
  </ol>
</nav>

<!-- templates -->
{{ define "breadcrumb" }}
  {{ if .currentPage.Parent }}
    {{ template "breadcrumb" dict "currentPage" .currentPage.Parent }}
  {{ end }}

  {{ $currentPage := .currentPage }}

  {{ with .currentPage }}
    {{ with .File }}
    <li class="breadcrumb-item active">
      {{ $currentPage.Title }}
    {{ else }}
    <li class="breadcrumb-item">
      <a href="{{ $currentPage.Permalink }}">{{ $currentPage.Title }}</a>
    {{ end }}
  {{ end }}
    </li>
{{ end }}