{{ $content := .content }}
{{ $width := .width }}
{{ $image := $content.Resources.GetMatch $content.Params.Image }}
{{ $url := cond (isset $content.Params "externallink") $content.Params.ExternalLink .Permalink}}

{{ if $image }}
  {{ $tiny := ($image.Resize "480x") }}
  {{ $small := ($image.Resize "768x") }}
  {{ $medium := ($image.Resize "1024x") }}
  {{ $large := ($image.Resize "1366x") }}
  <a href="{{ $url | relURL }}">
    <img class="rounded-circle z-depth-2 person-image"
          width="{{ $width }}"
          srcset="
              {{- with $tiny.RelPermalink -}}{{.}} 480w{{- end -}}
              {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
              {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
              {{- with $large.RelPermalink -}}, {{.}} 1366w{{- end -}}" 
          src="{{ $image.RelPermalink }}"
          alt="{{ $content.Title }}" 
          title="{{ $content.Title }}" />
  </a>
{{ else }}
  {{ $image := resources.GetMatch ($content.Params.Image | relURL) }}
  {{ $tiny := ($image.Resize "480x") }}
  {{ $small := ($image.Resize "768x") }}
  {{ $medium := ($image.Resize "1024x") }}
  {{ $large := ($image.Resize "1366x") }}
  <a href="{{ $url | relURL }}">
    <img class="rounded-circle z-depth-2 person-image"
          width="{{ $width }}"
          srcset="
              {{- with $tiny.RelPermalink -}}{{.}} 480w{{- end -}}
              {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
              {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
              {{- with $large.RelPermalink -}}, {{.}} 1366w{{- end -}}" 
          src="{{ $image.RelPermalink }}" 
          alt="{{ $content.Title }}" 
          title="{{ $content.Title }}" />
  </a>
{{ end }}