{{ $site := .site }}
{{ $people := .people }}
{{ $size := .size }}

{{ with $people }}
  {{ range . }}
    {{ $person := . }}
    {{ with $site.GetPage (printf "/person/%s" .) }}
      {{ $originalImage := .Resources.GetMatch .Params.image }}
      {{ $image := $originalImage.Resize (printf "%sx webp" (string $size)) }}
      <div class="col-auto">
        <a href="{{ .Permalink | relURL}}" class="text-muted text-decoration-none me-5">
          <div class="row me-2">
            <div class="col col-xs-2">
              <img src="{{ $image.RelPermalink }}" width="{{ $size }}" height="{{ $size }}" class="float-start rounded-circle" alt="{{ .Title }}" title="{{ .Title }}" />
            </div>
            <div class="col-auto align-self-center">
              {{ .Title }}
            </div>
          </div>
        </a>
      </div>
    {{ end }}
  {{ end }}
{{ end }}