{{ $content := . }}
{{ $title := .Title | default .Site.Title }}

{{ if not .IsHome }}
  {{ $title = printf "%s | %s" $title .Site.Title }}
{{ end }}

{{ $plainSiteDescription := .Site.Params.content.site.description | plainify }}
{{ $plainPageDescription := .Site.Params.content.site.description | plainify }}
{{ if .Params.description }}
  {{ $plainPageDescription = .Params.description | plainify }}
{{ end }}

{{- $pageImage := (partial "metadata/image-ld.html" .) -}}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{{ $title }}</title>
  <link rel="manifest" href="/manifest.json">
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <!-- title metadata -->
  <meta property="og:title" content="{{ $title }}" />
  <meta name="twitter:title" content="{{ $title }}" />
  <meta itemprop="name" content="{{ $title }}" />
  <meta name="application-name" content="{{ $title }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <!-- description metadata -->
  <meta name="description" content="{{ $plainPageDescription }}" />
  <meta itemprop="description" content="{{ $plainPageDescription }}" />
  <meta property="og:description" content="{{ $plainPageDescription }}" />
  <meta name="twitter:description" content="{{ $plainPageDescription }}" />
  <!-- baseurl metadata -->
  <base href="{{ .Permalink }}">
  <meta name="url" content="{{ .Permalink }}" />
  <meta name="twitter:url" content="{{ .Permalink }}" /> 
  <meta property="og:url" content="{{ .Permalink }}" />
  <!-- language metadata -->
  <meta property="og:locale" content="{{ .Language.Lang }}">
  <meta name="language" content="{{ .Site.Params.content.site.language_name }}">
  {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}
  <!-- image metadata -->
  <meta itemprop="image" content="{{ $pageImage }}" />
  <meta property="og:image" content="{{ $pageImage }}" />
  <meta name="twitter:image" content="{{ $pageImage }}" />
  <meta name="twitter:image:src" content="{{ $pageImage }}" /> 
  <meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />
  <!-- sitemap -->
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "sitemap.xml" | absURL}}" /> 
  <!-- different output formats-->
  {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $title }}" />
    <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $title }}" />
  {{ end }}

  <meta property="og:type" content="website" /> 
  <meta name="robots" content="index,follow" /> 
  <meta name="googlebot" content="index,follow" />
  
  <meta name="twitter:site" content="@{{ .Site.Params.content.social.twitter }}">
  <meta name="twitter:creator" content="@{{ .Site.Params.content.social.twitter }}" />
  
  <!-- Theme Color -->
  <meta name="theme-color" content="#29aae1" /> 
  <meta name="msapplication-TileColor" content="#29aae1" />
  
  {{ if .Params.Tags }}  
    <meta name="keywords" content="{{ print (delimit .Params.Tags ", ") ", " (delimit .Site.Params.content.site.Keywords ", ") }}" />
  {{ else }}
    <meta name="keywords" content="{{ print (delimit .Site.Params.content.site.Keywords ", ") }}" />
  {{ end }}
  
  <meta name="imagemode" content="force" />
  <meta name="coverage" content="Worldwide" /> 
  <meta name="distribution" content="Global" />
  <meta name="HandheldFriendly" content="True" /> 
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}" /> 
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="apple-touch-fullscreen" content="yes" />

  <link rel="icon" type="image/png" href="/favicon-16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-96.png" sizes="96x96">
  
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicon-152.png">
  <link rel="apple-touch-icon-precomposed" sizes="167x167" href="/favicon-167.png">
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/favicon-180.png">

  <!-- Bootstrap CSS -->
  {{ $style := resources.Get "sass/main.scss" | toCSS | minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">
  <link rel="preload" crossorigin href="/webfonts/fa-solid-900.woff2" as="font">
  <link rel="preload" crossorigin href="/webfonts/fa-brands-400.woff2" as="font">

  <!-- Content Security Policies if set in config -->
  {{ $scratch := .Scratch }}
  {{ $site := .Site }}
  {{ with .Site.Params.security.csp }}
      {{ $scratch.Set "csp" ""}}
      {{ with .scriptsrc }}
        {{ $scratch.Add "csp" (printf "script-src %s; " .) }}
      {{ end }}
      {{ with .imgsrc }}
        {{ $scratch.Add "csp" (printf "img-src %s; " .) }}
      {{ end }}
      {{ with .connectsrc }}
        {{ $scratch.Add "csp" (printf "connect-src %s; " .) }}
      {{ end }}
      {{ with .framesrc }}
        {{ $scratch.Add "csp" (printf "frame-src %s; " .) }}
      {{ end }}
      {{ with .objectsrc }}
        {{ $scratch.Add "csp" (printf "object-src %s; " .) }}
      {{ end }}
      {{ if $scratch.Get "csp" }}
        {{ (printf "<meta http-equiv=\"Content-Security-Policy\" content=\"%s\">" ($scratch.Get "csp" )| safeHTML) }}
      {{ end }}
  {{ end }}

  <!-- JSON-LD Section -->
  {{ partial "metadata/all-ld.html" . }}

  <!-- Metadata for blog pages-->
  {{ if eq .Section "blog" }} 

    <!-- use partial for blog pagination metadata -->
    {{ partial "metadata/paginator.html" (dict "paginator" (.Paginate (where .Pages ".Params.Upcoming" "!=" true)) "content" . )}}

    <!-- Blog Single Pages -->
    {{ if eq .IsPage true }}
      <meta property="og:type" content="article" />
      <meta property="article:publisher" content="https://www.facebook.com/{{ .Site.Params.social.facebook }}" /> 
      <meta property="og:article:published_time" content={{ .Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} /> 
      <meta property="article:published_time" content={{ .Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />
      {{ partial "metadata/blog-ld.html" . }}
      
      {{ if .Params.Authors }}
        <meta property="og:article:author" content="{{ partial "metadata/people.html" (dict "people" .Params.Authors "site" .Site) }}" />
        <meta property="article:author" content="{{ partial "metadata/people.html" (dict "people" .Params.Authors "site" .Site) }}" /> 
        <meta name="author" content="{{ partial "metadata/people.html" (dict "people" .Params.Authors "site" .Site) }}" /> 
      {{ end }}
    {{ end }}
  {{ else if eq .Section "episode" }} 
    {{ partial "metadata/paginator.html" (dict "paginator" (.Paginate (where .Pages ".Params.Upcoming" "!=" true)) "content" . )}}
    {{ if eq .IsPage true }}
      {{ partial "metadata/episode-ld.html" . }}
    {{ end }}
  {{ else if eq .Section "person" }} 
    {{ partial "metadata/paginator.html" (dict "paginator" (.Paginate (where .Pages ".Params.Upcoming" "!=" true).ByTitle) "content" . )}}
    {{ if eq .IsPage true }}
      {{ partial "metadata/person-ld.html" . }}
    {{ end }}
  {{ else if eq .Section "talk" }} 
    {{ partial "metadata/paginator.html" (dict "paginator" (.Paginate (where .Pages ".Params.Upcoming" "!=" true)) "content" . )}}
    {{ if eq .IsPage true }}
      {{ partial "metadata/talk-ld.html" . }}
    {{ end }}
  {{ else if eq .Section "series" }} 
    {{ partial "metadata/paginator.html" (dict "paginator" (.Paginate (where .Pages ".Params.Upcoming" "!=" true)) "content" . )}}
  {{ else if eq .Section "tags" }} 
    {{ partial "metadata/paginator.html" (dict "paginator" (.Paginate (where .Pages ".Params.Upcoming" "!=" true)) "content" . )}}
  {{ else }}
    <link rel="canonical" href="{{ .Permalink }}" />
  {{ end }}
</head>