{{ $site := .Site }}

<header>
  <div class="d-flex flex-row-reverse align-items-center">
    {{ with .Site.Params.features.cta.subscribe_twitter }}
      {{ if eq .enabled true }}
        <div class="p-2">
          <a class="twitter-follow-button" href="https://twitter.com/{{ $site.Params.Content.social.twitter }}" data-show-screen-name="false">
            Follow @{{ $site.Params.Content.social.twitter }}
          </a>
        </div>
      {{ end }}
    {{ end }}
    {{ with .Site.Params.features.cta.subscribe_youtube }}
      {{ if eq .enabled true }}
        <div class="p-2 g-ytsubscribe" data-channelid="{{ .channel }}" data-layout="default" data-count="default"></div>
      {{ end }}
    {{ end }}</div>
  </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-cwc py-4">
    <div class="container">
        <a class="navbar-brand" href="{{ "/" | relURL }}">

  {{ $banner := resources.GetMatch (.Site.Params.content.site.logo | relURL) }}
  {{ $tiny := ($banner.Resize "480x") }}
  {{ $small := ($banner.Resize "768x") }}
  {{ $medium := ($banner.Resize "1024x") }}
  {{ $large := ($banner.Resize "1366x") }}
    <img class="img-fluid"
          srcset="
              {{- with $tiny.RelPermalink -}}{{.}} 480w{{- end -}}
              {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
              {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
              {{- with $large.RelPermalink -}}, {{.}} 1366w{{- end -}}" 
          src="{{ $banner.RelPermalink }}" 
          alt="{{ .Site.Title }}" 
          width="200"
          title="{{ .Site.Title }}" />
  </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            {{ $currentPage := . }}
              {{ range .Site.Menus.main }}
                {{ partial "nav-links.html" (dict "context" . "currentPage" $currentPage) }}
              {{ end }}      
          </ul>          
          <form class="d-flex" action="{{ "search" | relURL }}">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search-query" name="s">
            <button class="btn btn-nav" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i> Search</button>
          </form>        
        </div>
    </div>
  </nav>
</header>